node_modules
npm-debug.log
.DS_store
.envrc
.naverc
.env
.project
.settings/
*~
test/fpc/fixtures/*.infile
dump.rdb
.idea
.localenv.json
.vscode/
jsconfig.json
newrelic_agent.log
snuggle-bunny/
*.swp
.vscode/
cryptex.json
